{%extends 'customer_layout.html'%}
{%block content%}
<br><br>   <br><br>   <br><br>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>Kuthampully Handloom Centre</strong>
                        <br>
                        S & S Complex
                        <br>
                        Shornur Road
                        <br>Thrissur- 22<br>
                        <abbr title="Phone">P:</abbr> +91 8129 5893 49
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    
                    <p>
                        <em>Receipt #: {{d.id}}</em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Receipt</h1>
                </div>
                </span>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                      
                            <th class="text-center">Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9"><em>{{d.product}}</em></h4></td>
                            <!-- <td class="col-md-1" style="text-align: center"> 2 </td> -->
                            <td class="col-md-1 text-center">{{d.price}}</td>
                            <td class="col-md-1 text-center">{{d.qty}}</td>
                            <td class="col-md-1 text-center">{{d.total}}</td>
                        </tr>
                        
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right">
                            <p>
                                <strong>Subtotal: </strong>
                            </p>
                            </td>
                            <td class="text-center">
                            <p>
                                <strong>{{d.total}}</strong>
                            </p>
                           </td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>{{d.total}}</strong></h4></td>
                        </tr>
                    </tbody>
                </table>
                </td>
            </div>
        </div>
    </div>
    </div>
    <br><br>   <br><br>   <br><br>   <br><br>
    <style>
        body {
    margin-top: 20px;
}
    </style>


{%endblock%}